.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--accent_1_darker);
  gap: 10px;
  color: var(--font_color_reversed);
  overflow: hidden;
}
.orderButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: var(--font_color);
}
