.Button {
  all: unset;
  display: flex;
  outline: 1px;
  padding: 8px 18px;
  border: 1px solid var(--border_color);
  border-radius: 5px;
  background-color: var(--accent_2);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

@media (hover: hover) {
  .Button:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
}

.Button:active {
  filter: invert(10%);
}
.Button:not:hover {
  cursor: pointer;
  filter: invert(100%);
}
.Button:not:focus {
  cursor: pointer;
  filter: invert(100%);
}
