.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: var(--accent_1);
  padding: 5px 0px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}
