.main {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 100%;
  display: flex;
  background-color: var(--accent_1);
  height: var(--navbar-height);
}
