.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--accent_2);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.HideOrderStyle {
  width: 0px;
}
